@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --dark: #4289C1; /* = Dark */
    --primary: #7EBEFA; /* = Primary */
    --pale: #D6F4FF; /* = Pale  */
    --secondary: #E39E21; /* = Secondary */
    --correct: green; /* = Correct */
    --incorrect: red; /* = Incorrect */
    --wiz: "Henny Penny", serif;
    --plain: "Nunito", sans-serif;
}

body{
    background-color: var(--pale);
    font-size: 1.5em;
}

.hero{width: 100%;}

#newQuizForm{
    padding-left: 10px;
    padding-right: 10px;
}

.container{
    border-color: var(--dark);
    border-style: ridge;
    border-width: 4px;
}

.btnAnswer{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    background-color: var(--primary);
    font-size: 0.8em;
    font-family: var(--plain);
    font-weight: bold;
    letter-spacing: 2px;
    text-wrap: wrap;
    min-width: 50%;
    max-width: 94%;
}

.incorrect:hover, .incorrect:focus{
    background-color: var(--incorrect);
    color: white;
}

.correct:hover, .correct:focus{
    background-color: var(--correct);
    color: white;
}
/*
div.questionDiv{
    padding: 310px;
    border: 1px solid var(--dark);
    border-radius: 10px;
    background-color: var(--pale);
}*/

span.hide{
    display: none;
}

.category{
    font-size: 1.5em;
    font-weight: bold;
    font-family: var(--wiz);
    color: var(--secondary);
    letter-spacing: 2px;
    margin-top: 40px;
}

/*
.music{
    color:crimson;
}

.sport_leisure{
    color: gold;
    text-shadow: blue 2px 2px 2px;
}

.film_tv{
    color:darkolivegreen;
}

.arts_literature{
    color: darkcyan;
}

.history{
    color: yellow;
    text-shadow: black 1px 1px 1px;
}

.society_culture{
    color: purple;
}

.science{
    color: red;
}

.geography{
    color: darkgreen;
}

.food_drink{
    color: brown;
}

.general_knowledge{
    color: darkblue;
}

.unknown{
    color: gray;
}
*/