body{
    background-color: black;
}

header{
    background-image: url("../images/quizzard.webp");
    min-height: 35vh;
    max-height: 90vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#newQuizForm{
    margin: auto auto;
}

div.question{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f0f0f0;
}

span.hide{
    display: none;
}

.music{
    color:crimson;
}

.sport_leisure{
    color: gold;
    text-shadow: blue 2px 2px 2px;
}

.film_tv{
    color:darkolivegreen;
}

.arts_literature{
    color: darkcyan;
}

.history{
    color: yellow;
    text-shadow: black 1px 1px 1px;
}

.society_culture{
    color: purple;
}

.science{
    color: red;
}

.geography{
    color: darkgreen;
}

.food_drink{
    color: brown;
}

.general_knowledge{
    color: darkblue;
}

.unknown{
    color: gray;
}